.title{
	  
    text-align:center;
    padding:5px;
}


.textColumn1{
	line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:300px;
    float:right;
    padding:5px;
   
}


.textColumn2{
	line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:300px;
    float:left;
    padding:5px;

}

.pic{
	display: inline;
	height: 700px;
    width: 713px;
}