*{
	border: 1px solid black;
}
.link{
	color: #c1c1c1;
}

.basic-box{
	width: 300px;
	height:300px;
    padding: 25px;
    border: 55px solid #000;
    background-color: solid;
    margin: 25px;
    overflow:hidden;

}
