body{
	
	
}

header{

	width: 100%;
	height: 1072px;
	background :url("headerBackground.png") 0px 0px / contain no-repeat;
	
}

.content-wrapper{
	width: 100%;
}

.button{
	position: relative;
	background:url('button.png');
	float: right;
}


.logo-img{
	position: absolute;
	width: 70px;
	height: 70px;
	left: 50%
	top: 160px;
	margin-left: -35px;
	background:url('logo.png');
}

.main-title{

}

.text-header{
	line-height: 24px;
}